html, body, #root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-header {
  height: 75px;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  background-color: #fafafb;
  border-bottom: 1px solid green;
  padding-left: 10px;
}

.app-container {
  margin-top: 76px;
  height: calc(100% - 75px);
}

.toDos-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

button.danger {
  background-color: #e12622;
  color: white;
  border-color: transparent;
  border-radius: 4px;
  padding: 1px 5px;
  margin-top: 5px;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
