@value primary: #2edcd2;

.logout-button {

}

.loading-container {
    display: flex;
    height: 100%;
    flex: 1 0 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-header {
    height: 75px;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: #fafafb;
    border-bottom: 1px solid primary;
    justify-content: space-between;
}

.main-header .logout-button {
    margin: 20px 10px;
}

.main-container {
    margin-top: 76px;
    height: calc(100% - 75px);
}

.panel {
    position: fixed;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 10px 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.content-container {
    border-left: 1px solid primary;
    margin-left: 375px;
    height: 100%;
}

.item-creation h3 {
    text-align: center;
    text-decoration: underline;
}
