html, body, #root {
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-header {
    height: 75px;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: #fafafb;
    border-bottom: 1px solid green;
}

.app-container {
    margin-top: 76px;
    height: calc(100% - 75px);
}

.toDo-creation {
    position: fixed;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 10px 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.toDo-creation button {
    width: 100%;
}

.toDo-creation input {
    width: 100%;
    margin-bottom: 10px;
}

.toDos-container {
    border-left: 2px solid green;
    margin-left: 375px;
    height: 100%;
}

.toDos-container h3 {
    padding-left: 10px;
    text-decoration: underline;
}

.toDos-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.toDo-creation h3 {
    text-align: center;
    text-decoration: underline;
}

button {
    background-color: royalblue;
    color: white;
    border-color: transparent;
    border-radius: 4px;
    padding: 1px 5px;
    margin-top: 5px;
    cursor: pointer;
}

button.danger {
    background-color: #e12622;
    color: white;
    border-color: transparent;
    border-radius: 4px;
    padding: 1px 5px;
    margin-top: 5px;
    cursor: pointer;
}
