.login-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(-90deg,#00aad1 0,#00dfba 100%);
}

.login-form img {
    width: 300px;
}

.login-form-container {
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form-container input {
    font-size: 24px;
    width: 100%;
}

.login-form-container .username-label {
    width: 100%;
    cursor: pointer;
}

.login-form-container button {
    font-size: 16px;
    width: 150px;
    padding: 3px;
    margin-top: 20px;
    text-decoration: none;
}

.login-form-container .message-container {
    margin: 10px 0;
}
